@charset "UTF-8";

body {

    background-color: rgb(250, 234, 234);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(180, 84, 84);
}

h2 {
    color: rgb(50, 0, 0);
}

p {
    text-indent: 20px;
}

h1#principal {
    text-align: center;
    background-color: rgb(236, 98, 98);
    color: white;
}

.basico{
    background-color: green;
    width: 270px;
}

.intermediario {
    background-color: rgb(255, 255, 0);
    width: 270px;
}

.avancado {
    background-color: red;
    width: 270px;
}