<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18333747603-mtf1m0q6mckibv9ka4b6dlo0ujh532kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18333747603-mtf1m0q6mckibv9ka4b6dlo0ujh532kh</string>
	<key>API_KEY</key>
	<string>AIzaSyCXNaSk0nSzZLM-49_9ND0M5HiJoSanrBM</string>
	<key>GCM_SENDER_ID</key>
	<string>18333747603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appInvest</string>
	<key>PROJECT_ID</key>
	<string>app-invest-3d12d</string>
	<key>STORAGE_BUCKET</key>
	<string>app-invest-3d12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18333747603:ios:f7b58a2d3e8222f26d8066</string>
</dict>
</plist>